*~
c/calcpsr/calcpsr
c/select
c/sirfproto
c/calcpsr/p_range.001
c/calcpsr/p_range.014
c/calcpsr/p_range.015
c/calcpsr/p_range.021
c/calcpsr/p_range.022
c/calcpsr/p_range.025
c/calcpsr/p_range.029
c/calcpsr/p_range.030
c/calcpsr/svdata.001
c/calcpsr/svdata.014
c/calcpsr/svdata.015
c/calcpsr/svdata.021
c/calcpsr/svdata.022
c/calcpsr/svdata.025
c/calcpsr/svdata.029
c/calcpsr/svdata.030
c/calcpsr/testdata.eph
c/calcpsr/testdata.msr
*.o
